/* Really Important. Don't mess with it. */

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url('images/background.jpg');
    background-color: black;
}

/* Use this to style a link please. Thanks! */

.link {
    color: aquamarine;
    text-decoration: none;
}

.link-2 {
    color: crimson;
    text-decoration: underline;
}

.link-3 {
    color: darkorange;
    text-decoration: underline;
}
/* Text positions. */

.d-color {
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Font Size's. */

.m-text {
    font-size: 20px;
}

.s-text {
    font-size: 15px;
}