
.blog {
  color: rgb(0, 0, 0);
  background-color: rgba(90, 75, 200, 0.8);

  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;

  text-align: center;
  position: fixed;
  overflow: auto;

  top: 5%;
  left: 1%;
  height: 90%;
  width: 98%;
  border-radius: 10px;
}

.nav-blog {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 150, 42, 0.8);

  font-size: 22px;
  line-height: 45px;
  letter-spacing: 0.5px;

  text-align: center;
  position: fixed;
  overflow: hidden;

  top: 1%;
  right: 35%;
  height: 5%;
  width: 30%;
  border-radius: 10px;
}

.copyright-blog {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 80, 80, 0.8);

  font-family: cursive;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: 0.5px;

  text-align: center;
  position: fixed;
  overflow: hidden;

  bottom: 1%;
  right: 35%;
  height: 5%;
  width: 30%;
  border-radius: 10px;
}

.year {
  font-size: 50px;
  font-style: italic;
  font-family: cursive;
  color: rgba(255, 50, 50, 0.8);
}