.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 600px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery-img {
  border-radius: 1em;
  width: 100%;
  height: auto;
  display: block;
}