:root {
  --font: "Barlow";
  --bg: #1f1f1f;
  --text: #fff;
  --accent: #2b6fd6;
  --accent-hover: #72aaff;
  --accent-2: #c927d8;
  --accent-2-hover: #d181d7;
}

* {
  box-sizing: border-box;
  cursor:default;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-size: 1.2rem;
  line-height: 1.35;
  font-family: var(--font);
}

header {
  height: 3.75em;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  width: 100%;
  max-width: 70em;
  display: flex;
  justify-content: center;
}

nav a {
  padding: 1em;
}

main {
  width: 100%;
  max-width: 70em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--accent-2);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--accent-2-hover);
}

.wf {
  width: 100%;
}

@font-face {
  font-family: "Barlow";
  src: url(../fonts/barlow.ttf);
}