html,
body {
  cursor: default;
  height: 100%;
  width: 100%;
  line-break: strict;
}

body {
  background: #000;
  background: linear-gradient(166deg, rgba(0, 0, 0, 0.94) 0%, rgba(0, 9, 26, 0.94) 25%, rgba(0, 23, 64, 0.94) 50%, rgba(0, 9, 26, 0.94) 75%, rgba(0, 0, 0, 0.94) 100%), url(../pictures/background.webp) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-regular);
  color: var(--text);
  font-size: 1.3rem;
  line-height: 1.35;
  margin: 0;
}


h1,
h2 {
  font-family: var(--font-bold);
}

h3,
h4 {
  font-family: var(--font-medium);
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

nav {
  width: 100%;
  max-width: 70em;
  display: flex;
  flex-wrap: wrap;
  justify-content: safe center;

  a {
    margin: 1em 0.5em 1em 0.5em;
  }
}

main {
  width: calc(100% - 2em);
  max-width: 70em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em 0.5em;
}

footer {
  p {
    text-align: center;
  }
}

.copy-and-mod {
  display: flex;
  gap: 0.4em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--accent-2);
  transition: color 300ms ease-in-out;

  &:hover {
    color: var(--accent-2-hover);
  }
}

.underline-anim {
  position: relative;
  display: inline-block;
  padding-bottom: 0.1em;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: transform 300ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}