@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

n {
  background: linear-gradient(to right, #7953cd 20%, #00affa 30%, #0190cd 70%, #764ada 80%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 500% auto;
  animation: textShine 5000ms ease-in-out infinite alternate;
}

.php,
.js,
.py,
.kotlin,
.java,
.rs,
.go,
.git,
.linux {
  font-family: "Barlow Medium";
}

.php {
  color: #576cc8;
}

.js {
  color: #f7df1e;
}

.py {
  background: linear-gradient(90deg, #3672a4 40%, #ffd747 60%);
  color: transparent;
  background-clip: text;
}

.kotlin {
  background: linear-gradient(90deg, #0095d5, 20%, #806ee3 40%, #f88909 60%, #cd5da5 80%);
  color: transparent;
  background-clip: text;
}

.java {
  background: linear-gradient(60deg, #e76f00 33%, #5382a1 45%);
  color: transparent;
  background-clip: text;
}

.rs {
  color: #f44b00;
}

.git {
  color: #de4c36;
}

.linux {
  color: #f8bf11;
}

.socials {
  display: flex;
  gap: 1.5em;
  text-align: center;
}

.img-myself {
  width: 100%;
  max-width: 18em;
  margin: 1em 1em 1em 0;
  float: left;
  border-radius: 1em;
}

.tldr-btn {
  color: var(--);
  font-size: 1.1em;
}

.tldr {
  color: var(--accent);
  font-size: 1.05em;
}

@media (max-width: 45em) {
  .img-myself {
    max-width: 20em;
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 30em) {
  .img-myself {
    width: 96%;
  }
}