@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

n {
  background: linear-gradient(to right,
      #7953cd 20%,
      #00affa 30%,
      #0190cd 70%,
      #764ada 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

pr {
  color: var(--accent);
  transition: color 0.3s ease-in-out;
}

pr:hover {
  color: var(--accent-hover);
}

.socials {
  display: flex;
  gap: 1.5em;
}

@media (max-width: 540px) {
  .socials {
    flex-direction: column;
    gap: 0.5em;
  }
}

.socials {
  text-align: center;
}

.img-myself {
  width: 100%;
  max-width: 18em;
  margin: 1em 0 1em 2em;
  float: right;
  border-radius: 1em;
}

@media (max-width: 700px) {
  .img-myself {
    max-width: unset;
    width: 70%;
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .img-myself {
    width: 96%;
  }
}

#tldr {
  color: var(--accent);
  font-size: 1.05em;
}