.archived {
  color: rgb(255, 175, 30);
}

.section-flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.stack {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  transition: gap 200ms ease;
}

.tech-icon {
  height: 1.2em;
  transition: transform 300ms ease, filter 300ms ease;

  &:hover {
    transform: rotate(10deg) scale(1.15);
    filter: drop-shadow(0 0 4px rgba(255, 175, 30, 0.4));
  }
}


@media (max-width: 53.125em) {
  .section-flex {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }
}