@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

:root {
  --clr-text: #000000;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(/images/background.png);

  background-color: palevioletred;
  color: var(--clr-maintext);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.25;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

/*? classes */

.version {
  text-decoration: none;
  color: rgb(0, 255, 255);
}

.notice {
  font-weight: bold;
  color: rgb(225, 25, 25);
  font-size: 30px;
}

.retro {
  text-decoration: none;
  color: rgba(255, 255, 255);
}

.link {
  text-decoration: none;
  color: rgb(50, 255, 50);
}

.project-title {
  font-size: 30px;
  text-decoration: none;
  color: rgb(50, 255, 50);
}

.social-link {
  text-decoration: none;
  color: black;
}

.social-contact {
  font-size: 26px;
  font-weight: bold;
}

.nav {
  background-color: rgba(255, 150, 42, 0.8);

  font-size: 22px;
  line-height: 45px;
  letter-spacing: 1px;

  text-align: center;
  position: fixed;
  overflow: auto;

  top: 1%;
  right: 1%;
  height: 8%;
  width: 48.5%;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.left {
  background-color: rgba(90, 75, 200, 0.8);

  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;

  text-align: center;
  position: fixed;
  overflow: auto;

  top: 1%;
  left: 1%;
  height: 98%;
  width: 48.5%;
  border-radius: 10px;
}

.left-bottom {
  background-color: rgba(90, 75, 200);

  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;

  text-align: center;
  position: fixed;
  overflow: auto;

  bottom: 1%;
  left: 1%;
  height: 20%;
  width: 48.5%;
  border-radius: 10px;
}

.webring {
  background-color: rgba(50, 100, 200, 0.8);

  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;

  text-align: center;
  position: fixed;
  overflow: auto;

  top: 10%;
  right: 1%;
  height: 83%;
  width: 48.5%;
  border-radius: 10px;
}

.wr-nav {
  text-decoration: none;
  color: rgb(255, 40, 205);
}

.copyright {
  background-color: rgba(255, 80, 80, 0.8);

  font-family: cursive;
  font-size: 22px;
  line-height: 46px;
  letter-spacing: 1px;

  text-align: center;
  position: fixed;
  overflow: auto;

  bottom: 1%;
  right: 1%;
  height: 5%;
  width: 48.5%;
  border-radius: 10px;
}