@font-face {
    font-family: "custom";
    src: url(/recourses/fonts/raster.ttf);
}

#popup {
  width: 250px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

html {
  background-image: url(/recourses/astrology-7598174.png);
  background-position: center;
  background-size: cover;
  word-spacing: 3px;
  font-family: "custom";
  color: tomato;
  font-size: 24px;

  width: 99vw;
  height: 175vh;

  scroll-behavior: smooth;
  text-align: center;
  word-wrap: break-word;
}

main {
  /* border: 2px red solid; */
  margin: 2px;
  padding: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

header {
  width: 95vw;
  border-bottom: 5px hsla(335, 75%, 50%, 1) solid;
  /* border: 2px black solid; */
  border-radius: 32px;
  padding-bottom: 1.5vh;
  position: absolute;
  font-size: 40px;
  top: 1.5vh;
}

footer {
  width: 95vw;
  border-top: 5px hsla(335, 75%, 50%, 1) solid;
  /* border: 2px black solid; */
  border-radius: 32px;
  padding-top: 1.5vh;
  position: absolute;
  bottom: -73.5vh;
}

nav {
  /* border: 2px green solid; */
  margin: 2px;
  padding: 2px;
}

div {
  /* border: 2px blue solid; */
  margin: 2px;
  padding: 10px;
}

button {
  margin: 2px;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  
  border: 3px black solid;
  border-radius: 12px;

  background: rgb(255, 210, 210);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  cursor: pointer;
  transition: background 500ms ease;
}

button:hover {
  background: rgb(255, 141, 141);
}
button.active {
  background: rgb(255, 141, 141);
}


a {
  color: black;
  cursor: help;
}
a:hover {
  color: rgb(200, 100, 100);
  transition: color 0.75s ease-in;
}

@media only screen and (max-width: 950px) {
  html {
    width: 98vw;
  }
}