/*? The begin of something special. 1 = r */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

:root {
  --clr-text: rgb(0, 0, 0);
  --clr-accent: rgb(220, 115, 150);
  --clr-background: rgba(210, 115, 150, 0.7);
  --clr-link: rgba(255, 255, 255, 1);
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(/images/background.png);

  background-color: palevioletred;
  color: var(--clr-text);
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  word-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*! CSS classes: */
/** Grid things: */
.container {
  width: 100vh;
  height: 95vh;
  margin: 0 auto;
  /* *border: 7.5px ridge var(--clr-accent);
  * border-radius: 16px; */
  display: grid;
  grid-template-columns: repeat(4, 10%) 7.5% 5% 7.5% repeat(4, 10%);
  grid-template-rows: 10% 2.5% 7.5% repeat(7, 10%) 2.5% 7.5%;
}

.item {
  font-size: 20px;

  overflow: hidden;
  width: auto;
  height: auto;

  background-color: var(--clr-background);
  padding: 0.5em;

  text-align: center;
  border: 5px outset var(--clr-accent);
  border-radius: 16px;
  z-index: 1;
}

/** Main text: */
.main {
  grid-column: 1 / 5;
  grid-row: 3 / 8;
  font-size: 2vh;

  z-index: 2;
}

/** Navigation: */
.nav {
  font-size: 2.25vh;
  grid-column: 7 / 12;
  grid-row: 1 / 2;
}
.nav-link {
  text-decoration: solid;
  color: var(--clr-link);
}

/** Welcome: */
.welcome {
  font-size: 3.5vh;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

/** Socials: */
.socials {
  grid-column: 8 / 12;
  grid-row: 3 / 6;
}
.social-link {
  text-decoration: none;
  color: var(--clr-link);
}

/** Beta warning: */
.beta {
  grid-column: 1 / 6;
  grid-row: 11 /13;
}

/** Webring: */
.webring {
  grid-column: 9 / 12;
  grid-row: 7 / 10;
}
.webring-link {
  text-decoration: none;
  color: var(--clr-text);
}
.retro {
  text-decoration: none;
  color: var(--clr-link);
}


/** Copyright: */
.copyright {
  font-family: cursive;
  font-weight: 300;
  font-size: 2.5vh;

  grid-column: 8 / 12;
  grid-row: 12 / 13;
  z-index: 2;
}