/* Really Important. Don't mess with it. */

html {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url('images/background.jpg');
    background-color: black;
}

/* Use this to style a link please. Thanks!*/

.link {
    color: aquamarine;
    text-decoration: none;
}

.link-2 {
    color: crimson;
    text-decoration: underline;
}

/* Text positions. */

.fixed-postion {
    top: 7px;
    right: 7px;
}

.d-color {
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Font Size's. */

.xs-text {
    font-size: 10px;
}

.s-text {
    font-size: 15px;
}

.m-text {
    font-size: 20px;
}

.l-text {
    font-size: 25px;
}

.xl-text {
    font-size: 30px;
}

.xxl-text {
    font-size: 35px;
}

.b-text {
    font-size: 40px;
}

.xb-text {
    font-size: 45px;
}

.xxb-text {
    font-size: 50px;
}