/* TODO shift == 5, forwards */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      /* 	i`r←ncdao5←ajpmo``i'←]\^fr\m_n */
:root {
  --clr-text: rgb(0, 0, 0);
  --clr-accent: rgb(216, 112, 147);
  --clr-accent-background-transparent: rgba(216, 112, 147, 0.4);
  --clr-background: rgba(255, 0, 100, 0.65);
  --clr-link: rgb(255, 255, 255);
  --clr-transparent: #00000000;
}

html {
  background-image: url(/images/take-a-break.png);

  background-color: var(--clr-background);
  color: var(--clr-text);
  cursor: crosshair;
}
body {
  font-family: cursive;
  font-size: 20px;
  overflow: auto;
}

/*! Classes: */
.info {
  overflow: auto;
  width: 75vh;
  height: 35vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  position: absolute;

  border: 10px double var(--clr-accent);
  background-color: var(--clr-accent-background-transparent);
  border-radius: 10px;
  padding: 0.5em;

  color: var(--clr-text);
  font-family: cursive;
  text-align: center;
}

.copy {
  font-family: cursive;
  text-align: center;
  position: absolute;

  bottom: 0px;
  right: 0px;

  color: var(--clr-text);
  font-size: 16px;
  
  padding: 0.5em;
  margin: 5px;
  border: 4px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 12px;
}
.en {
  top: 85%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-decoration: none;
  margin-bottom: 1em;

  font-size: 20px;
  font-family: cursive;
  border: 3.5px solid red;
  border-radius: 7.5px;

  color: var(--clr-text);
  background-color: rgba(255, 0, 0, 0.3);
  cursor: help;
}
.nl {
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-decoration: none;
  margin-bottom: 1em;

  font-size: 20px;
  font-family: cursive;
  border: 3.5px solid red;
  border-radius: 7.5px;

  color: var(--clr-text);
  background-color: rgba(255, 0, 0, 0.3);
  cursor: help;
}
.source {
  text-decoration: none;
  margin: 0.5em;
  margin: 5px;

  font-size: 20px;
  font-family: cursive;
  border: 4px double rgb(30, 255, 0);
  border-radius: 7.5px;

  color: var(--clr-text);
  background-color: rgba(30, 255, 0, 0.4);
  cursor: help;
}
.socials {
  text-decoration: none;
  margin: 0.5em;
  margin: 5px;

  font-size: 20px;
  font-family: cursive;
  border: 4px double rgb(30, 255, 0);
  border-radius: 7.5px;

  color: var(--clr-text);
  background-color: rgba(30, 255, 0, 0.3);
  cursor: help;
}

.no-deco {
  text-decoration: none;
  cursor: crosshair;
}

.next {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-family: cursive;
  font-style: italic;
}

/*! WARNING, DO NOT TOUCH! */
/*! scroll bar: */
::-webkit-scrollbar {
    width: 15px;
    height: 15px; 
    background-color: var(--clr-transparen);
}


::-webkit-scrollbar-thumb {
    border: 0.5px solid rgba(255, 255, 255, 1);
    background-color: var(--clr-accent);
}


::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 15px;
    width: 15px;
    display: block;
    background-repeat: no-repeat;
    border: 1px solid var(--clr-link);
    background-color: var(--clr-accent);
}


::-webkit-scrollbar-button:vertical:decrement {
    background-image: url();
}


::-webkit-scrollbar-button:vertical:increment {
    background-image: url();
}