
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('./images/mountain.png');

}

/*? Header */

header {
    text-align: center;
    color: rgb(145, 45, 250);
    font-size: 38px;
}

.head {
    position: fixed;
    
    left: 30%;
    height: 50px;
    width: 40%;
    top: 10px;

    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: none;
}

/*? Main */

main {
    text-align: center;
    color: white;
    font-size: 16px;

    position: fixed;

    left: 7%;
    height: 85%;
    width: 87%;
    top: 8%;

    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: none;
}

/*? Footer */

footer {
    text-align: center;
    color: rgb(250, 60, 140);
    
    position: fixed;

    bottom: 10px;

    height: 40px;
    width: 20%;
    left: 40%;

    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: none;

    font-style: italic;
}

.link-0 {
    text-decoration: none;
    color: rgb(250, 60, 140);
}

/*? Menu bar. */

.burger-text-place {
    position: fixed;
    top: 12px;
    left: 15px;

    text-align: left;
    font-style: italic;
}

.borger-link {
    color: rgb(125, 50, 250);
    text-decoration: none;
    
}

.borger-box {
    position: fixed;
    height: 107px;
    width: 80px;

    top: 7px;
    left: 7px;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);

    overflow: none;
}

/*? Main */

.text {
    font-size: 16px;
    color: rgb(75, 65, 225);
}

.w-link {
    text-decoration: none;
    color: rgb(100, 250, 150);
}
