:root {
    --color-border: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-border: #ffffff;
    }
}

.thor img,
.thor source {
    width: 40%;
    max-width: 360px;
    border-radius: 8px;
}

.thory {
    border: 2px solid var(--color-border);
}