:root {
    --svg-fill-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --svg-fill-color: #ffffff;
    }
}

button {
    font-family: 'Kode Mono', monospace;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-text-content);
    background-color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 500ms ease, color 500ms ease;
}

button:hover {
    background-color: var(--highlight-color);
    color: var(--color-text-left);
}

button svg {
    transition: transform 700ms ease;
}

button svg:hover {
    transform: scale(1.2);
}

button svg path {
    fill: var(--svg-fill-color);
    transition: fill 700ms ease-in-out;
}

button svg:hover path {
    fill: var(--svg-hover-fill-color);
}

button svg ellipse {
    fill: var(--svg-fill-color);
    transition: fill 700ms ease-in-out;
}

button svg:hover ellipse {
    fill: var(--svg-hover-fill-color);
}

t {
    color: var(--special-text-color);
}