@media (max-width: 800px) {
    main {
        flex-direction: column;
    }

    nav {
        position: sticky;
        top: 10px;
        color: white;
        display: flex;
        justify-content: center;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li a:hover {
        margin-left: 0;
        margin-right: 0;
        background-color: #6a35a5;
    }
}