:root {
    /* Background colours */
    --color-background: #282878;
    --color-background-main: #3c3c78;
    --color-background-content: #323282b3;

    /* Text colours */
    --color-text: #fff;
    --color-link: #fff;
    --color-link_hover: #00b7ff;
    --color-navbar_selected: #2e77ff;
}

#nl1 {
    color: var(--color-text);
}

#nl2 {
    color: var(--color-navbar_selected);
}

.copyright {
    width: 100%;
    height: 128px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    width: 100%;
    height: 128px;
}

#my-cats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}