@media only screen and (min-width: 1280px) {
  header {
    width: 1150px;
    top: 1.5vh;
  }

  nav {
    /* border: 2px green solid; */
    margin: 2px;
    padding: 2px;
    padding-top: 115px;
  }

  div {
    width: 1150px;
    /* border: 2px blue solid; */
    margin: 2px;
    padding: 10px;
  }
}