
#python {
    background-image: linear-gradient(to right, blue, blue, blue, white, white, yellow, yellow, yellow);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#picture {
    float: right;
    width: 33%;
    height: 33%;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#ab {
    float: left;
}