go {
    background: linear-gradient(90deg, #4285F4, #34A853, #FBBC05, #EA4335);
    background-clip: text;
    color: transparent;
}

m {
    background: linear-gradient(90deg, #EA4335, #34A853, #4285F4, #FBBC05);
    background-clip: text;
    color: transparent;
}

f {
    background: linear-gradient(90deg, #29bbff, #2b4079, #29bbff);
    background-clip: text;
    color: transparent;
}

d {
    color: #29bbff;
    font-weight: 600;
}

v {
    color: #ffac2f;
}

r {
    color: #ff4545;
}

p {
    padding-left: 8px;
}

.astral {
    transition: background 1000ms ease;
    background: linear-gradient(90deg, #29bbff, #ffac2f);
    background-clip: text;
    color: transparent;
}

.astral:hover {
    background: linear-gradient(90deg, #ffac2f, #29bbff);
    color: transparent;
    background-clip: text;
}

.img {
    width: 45%;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin-top: 12px;
}

#school {
    border-bottom: 5px solid #1a1a2e;
    margin-bottom: 12px;
}

@media (max-width: 950px) {
    #school {
        border-bottom: none;
        margin-bottom: 0;
    }
}