
@font-face {
    font-family: Cat Song;
    src: url(/assets/font/CatSong.ttf);
}

@font-face {
    font-family: Darling Coffee;
    src: url(/assets/font/DarlingCoffee.ttf);
}

@font-face {
    font-family: DKPorcupinePickle;
    src: url(/assets/font/DKPorcupinePickle.ttf);
}

@font-face {
    font-family: OkeSip;
    src: url(/assets/font/OkeSip.ttf);
}

@font-face {
    font-family: Rustic Story;
    src: url(/assets/font/RusticStory.ttf);
}

:root {
    --color-background: #14003c;
    --color-title: #963cc0;
    --color-text: #c83cc0;
    --color-textLink: #c860c0;
    --color-divBackground: #8000ff;
    --color-divBorder: #c8c8c8;
    --color-buttonBackground: #14003c;
    --color-buttonBackgroundHover: #3c003c99;
    --color-buttonBorder: #c41840;
}

textarea,
input {
    background: var(--color-background);
    border: 2px solid var(--color-divBorder);
    border-radius: 16px;
    font-family: Darling Coffee;
    font-size: 24px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
    color: var(--color-text);
    max-width: 700px; min-width: 50px;
    max-height: 400px; min-height: 150px;

    margin-bottom: 24px;
}

input {
    max-width: 700px; max-height: unset;
    min-width: unset; min-height: unset;
    width: 70vw;
}

button {
    width: 128px;
    height: 40px;
}

p {
    border-radius: 16px;
    font-family: My font;
    font-size: 24px;
    padding: 12px;
    font-weight: 600;
    color: var(--color-text);
}
