@font-face {
    font-family: 'Kode mono';
    src: url(../fonts/kode-mono.ttf);
}

@font-face {
    font-family: 'Bruno ace';
    font-weight: 400;
    src: url(../fonts/bruno-ace.ttf);
}

@font-face {
    font-family: 'Righteous';
    font-weight: 400;
    src: url(../fonts/righteous.ttf);
}

@font-face {
    font-family: 'Tomorrow';
    src: url(../fonts/tomorrow.ttf);
}

@font-face {
    font-family: 'Architect';
    src: url(../fonts/KGArchitecturallyArtistic.ttf);
}

:root {
    /* Background colours */
    --color-background: #282878;
    --color-background-main: #3c3c78;
    --color-background-content: #323282b3;

    /* Text colours */
    --color-text: #fff;
    --color-link: #fff;
    --color-link_hover: #00b7ff;
    --color-navbar_selected: #2e77ff;

    --color-header-2-1: #ff00c8;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

h1, h2 {
    color: var(--color-header-2-1);
    font-family: 'Bruno ace';
    font-weight: 600;
}

#nl1 {
    color: var(--color-navbar_selected);
}

html {
    scroll-behavior: smooth;
    font-family: 'Kode mono';
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 0.015rem;
    color: var(--color-text);
    font-weight: 600;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    width: 100%;
    height: 96px;
}

.navbar-items {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

.logo {
    cursor: progress;
    padding-left: 20px;
}

.nav-link {
    color: var(--color-link);
    text-decoration: none;
    font-weight: 600;
    transition: color 500ms ease;
}

.nav-link:hover {
    color: var(--color-link_hover);
    text-decoration: underline;
    cursor: pointer;
}

.main-content {
    width: 100%;
    min-height: 73vh;
    display: flex;
    justify-content: center;
    background-color: var(--color-background-main);
}

.content-wrapper {
    margin: 16px;
    padding: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 50vh;
    border-radius: 48px;
    background-color: var(--color-background-content);
}

@media (max-width: 1400px) {
    .content-wrapper {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .content-wrapper {
        width: calc(1400px - 32px);
    }
}

.text-content {
    padding-left: 24px;
    padding-right: 24px;
}

@media (max-width: 700px) {
    .text-content {
        padding-left: 16px;
        padding-right: 16px;
    }
}

#resume {
    margin: 4px;
    padding: 8px;
    font-family: 'Kode mono';
    color: var(--color-text);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(to left, var(--color-background-content) 50%, #8721a7 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1500ms ease-out;
}

#resume:hover {
    background-position: right bottom;
    color: var(--color-text);
    cursor: pointer;
}

p {
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    width: 100%;
    height: 448px; 
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
}

.social-media {
    text-align: center;
    width: 100%;
    height: 192px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 64px;
}



svg path {
    fill: #fff;
    transition: fill 1000ms ease;
}

svg:hover path {
    fill: #ff2bbf;
}

svg line {
    stroke: #fff;
    transition: stroke 1000ms ease;
}

svg:hover line {
    stroke: #ff2bbf;
}

.copyright {
    width: 100%;
    height: 192px;
    text-align: center;
}

c {
    font-family: 'Kode mono';
    font-size: 2.4rem;
}

kf {
    font-family: 'Kode mono';
    font-weight: 700;
}

/* % Unique Styles */

#df {
    width: 1.7rem;
    height: 1.7rem;
    vertical-align: middle;
}

#df:hover {
    cursor: help;
}

#lm {
    margin-bottom: 0;
}

.img {
    border-radius: 10px;
    border: 4px solid #fff;
}

name {
    background-image: linear-gradient(to right, rgb(255, 100, 223), rgb(200, 0, 0), rgb(255, 100, 223), rgb(200, 0, 0), rgb(255, 100, 223));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: name-animation 10s linear infinite;
    background-size: 200% 100%;
}

@keyframes name-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}