@font-face {
  font-family: "custom";
  src: url(/assets/fonts/raster.ttf);
}

html {
  background-color: rgba(5, 0, 25, 0.925);
  background-position: center;
  word-spacing: 3px;
  font-family: "custom";
  cursor: default;
  font-size: 32px;
  color: white;

  width: auto;
  height: auto;

  scroll-behavior: smooth;
  word-wrap: break-word;
}

.container {
  padding: 0px;
  background-color: rgba(75, 25, 10, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 205px;
  border: 3px solid white;
  border-radius: 4px;
  z-index: 9999;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container.fade-in {
  animation: fadeIn 0.5s forwards;
}

.container.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}