body {
  font-family: cursive;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  margin: 0;
}

.container {
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span {
  font-size: 40px;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.result {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
