/* General Styles */
@font-face {
    font-family: 'kode mono';
    src: url(/assets/font/kode-mono.ttf);
}

body {
    font-family: 'kode mono';
    background-color: #16213e;
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

a {
    color: #ff5084;
    text-decoration: underline;
    transition: color 600ms ease;
}

a:hover {
    color: #09ff00;
    cursor: pointer;
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Navigation */
.left {
    z-index: 9;
    width: 20%;
    background-color: #16213e;
}

.nav {
    z-index: 10;
    font-size: 1.5rem;
}

.ul_nav {
    list-style-type: none;
    padding: 0;
}

.ul_nav li {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.ul_nav li a {
    color: #ff00ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 750ms;
}

.ul_nav li a:hover {
    color: #0eb165;
    text-decoration: underline;
    cursor: pointer;
}

#current {
    text-decoration: underline;
}


/* Socials */
.socials {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.icon {
    fill: #ff00ff;
    transition: transform 1000ms;
}

.icon:hover {
    transform: rotate(360deg);
}

/* Content */
.content {
    z-index: 4;
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    background-color: #1a1a2e;
}

.scrolling {
    z-index: 5;
    max-width: 920px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: #ff00ff;
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 20px;
    animation: title 10000ms infinite;
    transition: transform 1000ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 16px;
}

p {
    line-height: 1.6;
    margin-bottom: 16px;
}

t {
    color: #ff00ff;
    font-weight: 500;
}

svg {
    transition: color 700ms ease;
}

svg path {
    transition: fill 700ms ease-in-out;
}

svg:hover path {
    fill: #09ff00;
}

#school {
    border-bottom: 5px solid #1a1a2e;
    margin-bottom: 12px;
}

@keyframes title {
    0% {
        transform: rotate(-2deg);
    }

    10% {
        transform: rotate(-1deg);
    }

    20% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(1deg);
    }

    40% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(3deg);
    }

    60% {
        transform: rotate(2deg);
    }

    70% {
        transform: rotate(1deg);
    }

    80% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}