/* Caesar Cipher Styles */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ff00ff;
    border-radius: 4px;
    background-color: #1a1a2e;
    color: #e0e0e0;
    font-family: 'kode mono';
    font-size: 1rem;
}

button {
    width: 100%;
    background-color: #ff00ff;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'kode mono';
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 300ms ease;
}

button:hover {
    background-color: #09ff00;
}

#bruteforce-result {
    margin-bottom: 64px;
}