@font-face {
    font-family: "custom";
    src: url(/assets/fonts/raster.ttf);
}

html {

  background-position: center;
  background-size: cover;
  word-spacing: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
  color: tomato;
  font-size: 20px;
  scroll-behavior: smooth;
  text-align: center;
  word-wrap: break-word;
}

main {
  /* border: 2px red solid; */
  margin: 2px;
  padding: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 2px solid hsla(335, 75%, 50%, 1);
  border-radius: 20px;
}

table {
  width: auto;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid hsla(335, 75%, 50%, 1);
  padding: 10px;
  text-align: left;
}

th {
  background: hsla(335, 75%, 50%, 1);
}

p,
h1 {
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 24px;
}

a {
  color: rgb(255, 255, 255);
  cursor: help;
}
a:hover {
  color: hsla(335, 75%, 50%, 1);
  transition: color 0.75s ease-in;
}

.theme {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    background: rgb(10, 10, 10);
  }

  .theme {
    background: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
  }
}