html {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url('images/background.jpg'); /*Image credit: https://pixabay.com/illustrations/frequency-wave-geometry-pattern-7776034/ */
    background-size: cover;
    background-color: black;
}

/* CSS for the hamburger menu */
.hamburger {
    display: flexbox;
    position: sticky;
    top: 0%;
    right: 0%;
    z-index: auto;
    cursor: auto;
}

.hamburger span {
    display: block;
    width: 32px;
    height: 5px;
    margin-bottom: auto;
    background-color: deeppink;
    transition: transform 0.5s ease-in-out;
}

.hamburger span:nth-child(1) {
    display: block;
    width: 32px;
    height: 5px;
    margin-bottom: auto;
    background-color: deeppink;
    transition: transform 0.75s ease-in-out;
}

.hamburger span:nth-child(2) {
    display: block;
    width: 32px;
    height: 5px;
    margin-bottom: auto;
    background-color: deeppink;
    transition: transform 0.25s ease-in-out;
}

.hamburger.active span {
    transform: rotate(360deg);
}

/* Additional styles for the menu items */
.menu {
    display: none;
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: auto;
}

.menu a {
    display: block;
    color: rebeccapurple;
    text-decoration: none;
}